/* AddTaskPage.css */

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Police générale */
}

.add-task-page {
  height: 100vh; /* Prendre toute la hauteur de l'écran */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Aligner le contenu vers le haut */
  background-color: #626869; /* Couleur de fond */
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #333; /* Couleur du titre */
}

form {
  background-color: #fff; /* Fond du formulaire */
  padding: 20px;
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  width: 100%;
  max-width: 90%; /* Largeur maximale */
}

.form-group {
  margin-bottom: 15px; /* Espacement entre les groupes */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555; /* Couleur des labels */
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%; /* Prendre toute la largeur disponible */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police */
}

textarea {
  height: 80px; /* Hauteur pour la zone de texte */
}

button {
  background-color: #3498db; /* Couleur du bouton */
  color: white;
  border: none;
  border-radius: 4px; /* Coins arrondis */
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Transition douce pour le survol */
}

button:hover {
  background-color: #2980b9; /* Couleur au survol */
}
